[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
Pillow = "12.0.0"
opencv-python = "4.12.0.88"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"